*{ 
	box-sizing:border-box;
	margin:0;
	padding:0;
	border:1;
	text-decoration:none;
	
}
[class*="col-"]{
	float:left;
	padding:5px;
	/*border:1px solid green;  */
}

.col-1 {width: 6.25%;}
.col-2 {width: 12.5%;}
.col-3 {width: 18.75%;}
.col-4 {width: 25%;}
.col-5 {width: 31.25%;}
.col-6 {width: 37.5%;}
.col-7 {width: 43.75%;}
.col-8 {width: 50%;}
.col-9 {width: 56.25%;}
.col-10 {width: 62.50%;}
.col-11 {width: 68.75%;}
.col-12 {width: 75%;}
.col-13 {width: 81.25%;}
.col-14 {width: 87.50%;}
.col-15 {width: 93.75%;}
.col-16 {width: 100%;}

body{
	background-color:#666;
}

#view{
background-color:white;	

}
h1{
	text-align:center;
}

.letters{
	border:1px solid black;
	
}